<!DOCTYPE html>
<html dir="rtl">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="menu-container">
      <img src="assets/EASPicture.png" alt="EAS Picture" class="menu-image">
      <button class="menu-button">אודות</button>
      <button class="menu-button">מועמדים בקליטה</button>
      <button class="menu-button" routerLink="app-add-student">הוסף תלמיד חדש</button>
      <button class="menu-button" routerLink="app-student-list">רשימת התלמידים</button>
      <button class="menu-button">מקומות חינוך</button>
      <button class="menu-button">עובדי מקום חינוך</button>
      <button class="menu-button">דוחות</button>
      <button class="menu-button">ניהול מערכת</button>
    </div>
  </body>
</html>
